<!DOCTYPE html>
<html>
<head>
    <title>This is a Blog Title</title>
</head>
<body id="blog">
  <section>
  <h3>This is a Blog Title</h3>
  <p><%=@byline%></p>

  <p>Direct trade food truck Marfa polaroid, tattooed eiusmod Portland banjo heirloom tempor tofu eu sunt VHS. Artisan literally cliche fugiat letterpress. Single-origin coffee chambray voluptate craft beer commodo master cleanse. Nostrud pariatur cupidatat direct trade tousled, squid sapiente authentic master cleanse adipisicing. Cillum Banksy craft beer actually, VHS gluten-free sapiente reprehenderit deep v Blue Bottle plaid. Enim selfies Truffaut twee farm-to-table, veniam plaid authentic elit art party wolf beard irony. YOLO dolor tofu, flannel placeat gentrify authentic.</p>

  <p>Aesthetic Tonx ea, iPhone kale chips consectetur pour-over wolf ethical selvage accusamus. Etsy assumenda direct trade cardigan delectus. Echo Park vinyl kale chips, et non Schlitz drinking vinegar aesthetic normcore veniam. Minim Thundercats occaecat Marfa umami photo booth. Tousled bespoke 8-bit, gentrify banjo paleo authentic incididunt. Austin anim fixie, pork belly cillum vegan Cosby sweater lo-fi single-origin coffee PBR yr aute brunch sint. Hashtag plaid sriracha gastropub, eu Banksy scenester.</p>

  <blockquote cite="">Cosby sweater est 90's cornhole sapiente. Etsy mustache eu, Bushwick actually cillum occupy sint DIY umami ex. Keytar selvage photo booth gluten-free mollit flannel, 8-bit culpa crucifix Etsy. Id gluten-free wayfarers Truffaut odio, iPhone anim hashtag messenger bag Etsy fap keffiyeh Tonx. Roof party Godard dolor, trust fund culpa slow-carb deep v. <footer>-Some guy</footer></blockquote>

  <p>Retro cillum swag, single-origin coffee sunt ethical bespoke art party jean shorts qui Banksy fixie ullamco yr American Apparel. Accusamus stumptown post-ironic photo booth dreamcatcher, cred hoodie XOXO magna. Meh Neutra sriracha try-hard culpa, irony cred. Photo booth narwhal esse, Tumblr magna paleo synth single-origin coffee Carles before they sold out nihil Pinterest. Sed aute yr shabby chic, food truck roof party tattooed brunch eu cupidatat vinyl gastropub butcher. Beard pour-over Wes Anderson organic skateboard, stumptown normcore banjo esse PBR&B. Raw denim disrupt reprehenderit, deserunt exercitation mixtape next level Austin squid ea elit aliqua chia.</p>

  <p>+1 viral bespoke jean shorts, mumblecore chambray minim street art meh sriracha Truffaut selvage drinking vinegar occaecat. Intelligentsia deep v butcher put a bird on it ea ugh ullamco quinoa, 3 wolf moon before they sold out Marfa Neutra velit gentrify artisan. Kogi plaid raw denim, ad deserunt beard fingerstache. Locavore Neutra Tonx, High Life elit cliche eiusmod fugiat id banjo est VHS craft beer aesthetic. Organic eiusmod banh mi Pinterest gastropub delectus. Actually PBR&B Bushwick eu raw denim. Butcher ut labore adipisicing, American Apparel synth voluptate post-ironic narwhal skateboard art party mlkshk.</p>

  <p>Magna dolore chillwave blog disrupt. Chia plaid twee crucifix duis forage. Eu pug Odd Future fap next level. Semiotics authentic PBR&B, mumblecore bespoke put a bird on it crucifix sed. Actually Shoreditch Vice id letterpress synth, tofu High Life. Fingerstache keffiyeh synth, nulla fashion axe dolor mollit magna non anim Pitchfork stumptown Godard Blue Bottle distillery. McSweeney's kogi nesciunt fingerstache reprehenderit, VHS veniam Schlitz id nihil sartorial.</p>
  </section>
</body>
</html>
