<article>
  <hgroup>
    <h2>Hi. I'm Kate. Nice to meet you.</h2>
  </hgroup>
  <section class="about-image"><img src="/images/kate.jpg" alt="Me"></section>

  <section class="about-section">
    A developer-in-training, I'm currently a student in
    <a href="http://adadevelopersacademy.org/" target="blank">Ada Developers
    Academy's</a> Cohort[1]. Before that I was a multimedia producer at
    <a href="http://www.pbs.org/">PBS</a> where I learned countless animal factoids
    while working on <em>PBS Nature</em>. I like doing things on computers.
    I also like doing a lot of <a href="/favoritethings">other things</a>.

    <p class="contact"><a href="mailto:katesuzannefulton@gmail.com">Email me.</a>
    <a href="https://twitter.com/kate_fulton">Follow me.</a></p>
  </section>
</article>
