<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/blog.css" type="text/css" />
  <script src="/js/blog.js"></script>
</head>

<section class="nav">
  <a href="/" id="homenav">HOME</a>&nbsp;&nbsp;&nbsp;<a href="/posts/2014-09-24/post1" id="blognav">BLOG</a>&nbsp;&nbsp;&nbsp;<a href="/aboutme" id="aboutnav">ME</a>
</section>
<hr>

  <%= yield %>


<section class="byline"><a href="/aboutme">Kate Fulton</a></section>
<section class="lastnextblog"><a href="">Last Post</a> | <a href="">Next Post</a></section>
<section class="footer">
  <hr><%=DateTime.now.strftime("%B, %-d, %Y")%>&nbsp;&nbsp;&nbsp;&nbsp;Built with the power of <a href="http://adadevelopersacademy.org/" target="blank">ADA</a>
</section>
