<body class="blog">
<section>
  <h2>The Blog.</h2>
  <p>This should contain a list of all the blogs in choronological order.
    This is where I can have the pagination (rather than on the homepage).
  Ideally also a search function to find certain posts.</p>
</section>
</body>
