

<%=yield%>

<ul class="horizontal-list blog_footer">
  <li class="byline">by <a href="/aboutme">Kate Fulton</a></li>
  <li class="lastnextblog"><a href="">Last Post</a> | <a href="">Next Post</a></li>
</ul>
