<h4>Some of my other favorite things include:</h4>

<ul class="favorite-things">
  <li>playing pool in dive bars</li>
  <li>reading poetry, especially by <a href="http://en.wikipedia.org/wiki/John_Berryman" target="blank">this guy</a>.</li>
  <li>eating artisanal ice cream</li>
  <li>filling-in crossword puzzles</li>
  <li>organizing dim sum outings</li>
  <li>challenging preconceived notions of gender</li>
  <li>talking up <a href="http://www.newyorker.com/magazine/2013/05/20/the-walking-alive" target="blank">treadmill desks</a></li>
  <li>traveling wherever + whenever I can</li>
  <li>spending hours drinking the same cup of coffee</li>
  <li>singing Broadway musicals</li>
</ul>
