<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my Blog.</title>
</head>
<body id="home">
  <header>
    <h1>Welcome to my blog.</h1>
    <h2>Happy you're here.</h2>
  </header>

    <% @posts.each do |post| %>
      <a href="<%= post.url %>"><%= post.title %></a><br/>
    <% end %>

</body>
</html>
