<link rel="stylesheet" href="/css/blog.css" type="text/css" />

<div id="navigation"><a href="/aboutme">About Me</a> <a href="/posts/post1">Post</a> Test
<hr></div>


  <%= yield %>

<hr>
<%= " test " * 4 %>
