<head>
  <link rel="stylesheet" href="/css/blog.css" type="text/css" />
  <script src="/js/blog.js"></script>
</head>

<div class="nav">
  <a href="/" id="homenav">HOME</a>&nbsp;&nbsp;&nbsp;<a href="/posts/2014-09-24/post1" id="blognav">BLOG</a>&nbsp;&nbsp;&nbsp;<a href="/aboutme" id="aboutnav">ME</a>
</div>
<hr>

  <%= yield %>

<div class="footer">
  <hr><%=DateTime.now.strftime("%B, %-d, %Y")%>&nbsp;&nbsp;&nbsp;&nbsp;Built with the help of <a href="http://adadevelopersacademy.org/" target="blank">ADA</a>
</div>
