<h4>Search Results</h4>

<section>
  <% if @results.length >= 1 %>
    <% @results.each do |post| %>
      <a href="<%= post.url %>"><%= post.title%></a><br/>
      <%= post.excerpt %>...<br/><br/>
    <% end %>
    <a href="/bloglanding" class="btn">Clear Search</a>
  <% else %>
    <%= "Bummer. There are no results for '#{@search_term.upcase}'." %>
    <a href="/bloglanding" class="btn">Back to Blog</a>
    <section class="sad-robot"><img src="/images/sad-robot.png"></section>
  <% end %>
<!--if defined -->
<!--image src code as string?? -->
<!--@noresults-->

</section>
