<h4>Search Results</h4>

<section>
  <% @results.each do |post| %>
    <a href="<%= post.url %>"><%= post.title%></a><br/>
    <%= post.excerpt %>... <a href="<%= post.url %>">More</a><br/><br/>
    <% end %>
</section>

<a href="/bloglanding" class="btn">Clear Results</a>
