<body id="blog">
  <section>
  <h4>Minipost: HTML</h4>
  <p id="post_excerpt">Test here Magna dolore chillwave blog disrupt. Chia plaid twee crucifix duis forage. Eu pug Odd Future fap next lev veniam heirloom mumblecore scenester exercitation. Chillwave photo booth sartorial messenger bag swag, cred locavore nostrud ethical Schlitz slow-carb deep v. Pork belly tousled paleo occaecat raw denim. Est chambray iPhone ea. XOXO Kickstarter American Apparel, wayfarers vegan dolore magna chia nihil. Velit meh cillum authentic, magna plaid twee PBR&B voluptate.</p>
  <blockquote>There's a lot of magic going on here.<footer></footer></blockquote>

  </section>
</body>
