  <article>
    <hgroup>
      <h2>HTML: Reinforcing Meaning</h2>
    </hgroup>
      <section id="post_excerpt">
          Today we started to delve into HTML (Hypertext Markup Language). HTML's
          primary role is providing structure and meaning to your website. Each tag
          should be carefully considered and smartly describe the content that is
          contained within.</p>
      </section>

      <section>
        <h4>Div + Span Tags</h4>

          Two elements, div and span, have no semantic value. They apply no
          real meaning to content and are rather generic container elements
          used as a convenient way to attach information to the text within the
          tags (for example linking the content to a CSS id or class). I would
          suspect that since div and span do very little in regards to HTML's
          job of assigning deeper meaning to the text that surfaces on a webpage,
          if another more exact and descriptive tag could be used, use it. Although
          div and span are similar in their lack of specificity, they are quite
          different ultimately in how they function&#8717;and this difference has
          everything to do with how they display. The div tag is referred to as
          a block element; the element fills the whole width of the screen, living
          entirely on its own line (or lines). These generally hold a big chunk of
          text. Span elements, on the other hand, are inline elements. They are
          used to isolate a small section of text within a larger grouping.
      </section>

      <section>
        <h4>Section + Article Tags</h4>

          With the advent of HTML5, a number of new tags have been introduced to
          better assign meaning to the content on the page. Two new tags include
          the article and section tags. What they denote and how they relate can
          be a bit confusing. According to HTML Dog, "an article element can be
          used to mark up a standalone section of content" while a section element
          is "a more general section that could be used to split up an article."
          So the article would be the big thing, a complete or self-contained
          composition that may contain within it individual sections that, while
          related, can be broken up accordingly to better organize the whole.
      </section>
  </article>
